{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "linebreak-style": ["error", "unix"],
    "no-use-before-define": ["off"],
    "comma-dangle": ["error", "never"],
    "global-require": ["off"],
    "import/no-dynamic-require": ["off"]
  },
  "env": {
    "browser": false,
    "node": true
  }
}